<section
	id='contact'
	class='w-full min-h-screen flex flex-col items-center justify-center gap-4 max-w-[500px]'>
	<h2 class='text-4xl font-bold'>Contactanos</h2>

	<div class='w-full'>
		<form class='flex flex-col gap-4'>
			<div class='flex flex-col gap-2'>
				<label for='name'>Nombre</label>
				<input
					id='name'
					class='rounded-md'
					type='text'
					placeholder="Jhon Doe"
				/>
			</div>
			<div class='flex flex-col gap-2'>
				<label for='email'>Correo</label>
				<input
					id='email'
					type='email'
					placeholder='example@gmail.com'
					class='rounded-md'
				/>
			</div>
			<div class='flex flex-col gap-2'>
				<label for='message'>Mensaje</label>
				<textarea
					name='message'
					id='message'
					placeholder='Escribe tu mensaje...'
					class='rounded-md resize-none'
				></textarea>

				<button
					class='border-0 px-4 py-2 bg-amber-400 rounded-md mt-4 text-lg font-bold hover:bg-amber-400/70 transition-colors duration-300 hover:text-black/80'
					>Contactar</button
				>
			</div>
		</form>
	</div>
</section>
